.movie-item {
  margin: 1rem;
  margin-top: 3rem;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for more modern look */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 450px;
  width: calc(80% / 6);
  background-color: #ffffff; /* Subject to change */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.movie-item:hover {
  transform: translateY(-5px); /* Slight lift on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Stronger shadow on hover */
}

.movie-item__image {
  width: 200px;
  height: 300px;
  margin-top: 5px;
  border-radius: 8px; /* Add slight rounding for images */
}

.movie-item__content {
  padding: 1rem;
  text-align: center;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.movie-item__title {
  min-height: fit-content;
  font-size: 1.1rem;
  margin: 0;
  margin-bottom: 10px;
  color: #333333; /* Darker text for better contrast */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  position:absolute;
}

.movie-item__rating {
  font-size: 1rem;
  margin: 0;
  color: #F5A623; 
  height: 20px; /* Consistent rating height */
  position:absolute;
  margin-top:30px;
}

/* MovieReview, Edit, Delete Buttons when signed-in (Three Button in Card) */
.logged_in_buttons button {
  border-radius: 8px; /* More modern rounded corners */
  height: 30px;
  padding: 0 10px;
  transition-duration:0.4s;
  /* background-color: #4A90E2; (Might change) Use the primary color */
  background-color:  #636d64;
  color: white;
  border: none; 
  font-size: 0.9rem;
  margin: 2px;
}
.logged_in_buttons button:hover {
  background-color:  #5c655d;; /* Darken on hover */
  cursor: pointer;
}

/* MovieReview Buttons when signed-out (One Button in Card) */
.signed_out_movieReview {
  border-radius: 8px; /* More modern rounded corners */
  height: 30px;
  padding: 0 10px;
  transition-duration:0.4s;
  /* background-color: #4A90E2; (Might change) Use the primary color */
  background-color:  #636d64;
  color: white;
  border: none; 
  font-size: 0.9rem;
  margin-bottom: 25px;
}
.signed_out_movieReview Button:hover {
  background-color:  #5c655d;; /* Darken on hover */
  cursor: pointer;
}

/* 
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
} */

/* Responsive Design for Movie Cards on Mobile */
@media screen and (max-width: 768px) {
  .movie-item {
    width: calc(70% / 3); /* Stack the cards more tightly on smaller screens */
  }
}

@media screen and (max-width: 480px) {
  .movie-item {
    width: calc(70% / 2); 
  }
}
