.moviecard {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, #DECBA4, #3E5151);
  border-radius: 20px;
  /* overflow: hidden; */
  width: 600px; 
  height: 400px;
  margin: 0 auto ; /* center the card horizontally */
  margin-top:45px;
}

.moviecard__header {
  background-image: linear-gradient(to right, #DECBA4, #3E5151);
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 1rem;
}

.moviecard__body {
  
  padding: 1rem;
}

.moviecard__footer {
  background-color: #616071;
}


.form-control {
  display: grid;
  grid-template-columns: 1fr;
}

.form-actions {
  margin-top: 30px;
  margin-left: 240px;
}
.addmovieform_input {
  width:93% !important;
}