div {
    text-align: center;
}

.deletion-confirm-btn {
    height: 30px;
    transition-duration: 0.4s;
    background-color:  #636d64;
    margin-right: 10px;
    border-radius: 8px; 
    transition: background-color 0.4s, color 0.4s;
    background-color:  #636d64;
    color: white;
    border: none; 
}