.header {
    display:flex;
    align-items: center;
    background-color: #4B82B5;
    width: 2000px;
    height: 69px;
}

.header__title {
    color: black;
    align-items: center;
    width: 475px;
    height: 49px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    padding-left: 30px;           
}

.welcome {
  align-items: center;
  font-family: 'Inter';
}

.header__homebutton {
    flex: 0 0 auto;
    margin-right: 1rem;
  }
  
  .header__logo img{
    margin-right: auto;
    width: 80px;
    height: 67px;
    background-blend-mode: color;
    mix-blend-mode: multiply;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  button {
    border-radius: 10%;
    height: 30px;
    transition-duration: 0.4s;
    background-color: #4B82B5;
    color: white;
    font-family: 'Inter';
    border: solid 2px #000000;
  }

  button:hover {
    background-color: #000000;
    color: #4B82B5;
    cursor: pointer;
  }

  label {
    font-family: 'Inter';
  }

  input {
    padding: 10px;
    margin: 10px;
  }

  .loginsection {
    margin-left: 270px;
  }

  .addmoviebutton {
    margin-left: 525px;
  }
  
